In [ ]:
# #tuples
# are similar to a list but are enclosed within parentisis () 
# and are immutable that is they cannot be changed once the value is assigned to it.
#its fine to mix object types within a tuple.that is it can have  combination of strings and integers
#it supports data integrity as it does not allow the elemnst in the tuple to 
# be changed accidentally and insted throws an error(TypeError: 'tuple' object does not support item assignment)

In [5]:
t=(1,2,3)

In [7]:
mylist=[1,2,3]

In [6]:
type(t)

tuple

In [8]:
type(mylist)

list

In [10]:
t=('one',2)

In [11]:
t

('one', 2)

In [12]:
len(t)

2

In [13]:
t[0]

'one'

In [14]:
t[-1]

2

In [15]:
t=('a','a','b')

In [17]:
t.count('a')

2

In [18]:
t.index('a')

0

In [19]:
mylist

[1, 2, 3]

In [20]:
mylist[0]

1

In [21]:
mylist[0]='4'

In [22]:
mylist

['4', 2, 3]

In [24]:
# in the above example i was able tochange the list thta means it is mutable

SyntaxError: invalid syntax (<ipython-input-24-ae3fc3fb9605>, line 1)

In [25]:
t

('a', 'a', 'b')

In [26]:
t[0]='z'

TypeError: 'tuple' object does not support item assignment

In [27]:
mylist=[1,2,4]

In [28]:
type(mylist)

list

In [31]:
tuple(mylist)

(1, 2, 4)

In [32]:
type(mylist)

list